--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.0
torchaudio
scikit-learn
gradio
funasr
openai-whisper
modelscope
huggingface
huggingface_hub
numpy<=1.26.4
transformers
accelerate
yt-dlp
openai

